/src/__pycache__/layers.cpython-36.pyc
*.pyc
/src/.data/iwslt/de-en.tgz
/*.de
/*.de
/src/.data/iwslt/de-en/IWSLT16.TED.dev2010.de-en.de
/src/.data/iwslt/de-en/IWSLT16.TED.dev2010.de-en.de.xml
/src/.data/iwslt/de-en/IWSLT16.TED.dev2010.de-en.en
/src/.data
*#
/*.ipynb
*ipynb*
